<a href="https://colab.research.google.com/github/sittidetw/DADS6001_Midterm_Project/blob/main/DADS5001_Midterm_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install python-calamine

Collecting python-calamine
  Downloading python_calamine-0.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.1 kB)
Downloading python_calamine-0.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (933 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 933.6/933.6 kB 41.3 MB/s eta 0:00:00
Installing collected packages: python-calamine
Successfully installed python-calamine-0.6.1

In [ ]:
import pandas as pd

# Load the Excel file
df = pd.read_excel('Testing_Population_2026Q1_20260215.xlsx', engine='calamine', header=None, skiprows=4, skipfooter=1)

# Display the first 5 rows
display(df.head(5))
display(df.tail(5))
print(len(df)-1)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,NaN,NaN,FSW,Migrant,MSM,MSW,Partner of HIV,Prisoner,PWID,TG,...,MSW,Partner of HIV,Prisoner,PWID,TG,TGSW,ALL KPs,Total,NaN,NaN
1,เชียงใหม่,1.0,0,2,8411,271,14,1504,99,199,...,0,2,0,0,0,0,3,26,60.0,113.0
2,ลำพูน,1.0,0,0,1782,1,1,2,0,1,...,0,0,0,0,0,0,1,9,8.0,27.0
3,ลำปาง,1.0,0,0,456,2,21,2,0,10,...,0,0,0,0,0,0,0,6,12.0,30.0
4,แพร่,1.0,0,0,204,4,3,0,0,29,...,0,0,0,0,0,0,0,4,4.0,32.0

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
73,พัทลุง,12.0,0,0,1081,45,7,381,33,0,...,0,1,0,1,0,0,6,11,13.0,27.0
74,ปัตตานี,12.0,0,0,6,0,0,181,1,0,...,0,0,0,0,0,0,0,0,6.0,11.0
75,ยะลา,12.0,0,0,2,0,1,827,799,0,...,0,0,0,0,0,0,0,2,21.0,16.0
76,นราธิวาส,12.0,0,0,4,0,0,0,96,0,...,0,0,0,0,0,0,0,1,3.0,12.0
77,กรุงเทพมหานคร,13.0,0,19,21659,1111,76,684,923,1379,...,0,10,11,7,0,0,38,162,442.0,864.0

77

In [ ]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,NaN,เชียงใหม่,ลำพูน,ลำปาง,แพร่,น่าน,พะเยา,เชียงราย,แม่ฮ่องสอน,อุตรดิตถ์,...,ชุมพร,สงขลา,สตูล,ตรัง,พัทลุง,ปัตตานี,ยะลา,นราธิวาส,กรุงเทพมหานคร,รวมทั้งหมด
1,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,...,11.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,13.0,NaN
2,FSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Migrant,2,0,0,0,0,0,0,2,0,...,0,0,1,0,0,0,0,0,19,219
4,MSM,8411,1782,456,204,464,948,1455,0,385,...,13,2814,1,285,1081,6,2,4,21659,73659
5,MSW,271,1,2,4,0,5,1,0,0,...,1,8,0,1,45,0,0,0,1111,2182
6,Partner of HIV,14,1,21,3,4,4,22,2,1,...,5,31,2,4,7,0,1,0,76,464
7,Prisoner,1504,2,2,0,156,2,765,23,304,...,559,53,268,393,381,181,827,0,684,19529
8,PWID,99,0,0,0,0,1,10,2,0,...,1,19,7,4,33,1,799,96,923,3409
9,TG,199,1,10,29,46,64,72,0,0,...,0,167,0,18,0,0,0,0,1379,3146
10,TGSW,15,0,0,0,0,1,1,0,0,...,0,11,0,0,0,0,0,0,211,708
11,All KPs,10515,1787,491,240,670,1025,2326,29,690,...,579,3103,279,705,1547,188,1629,100,26062,103316
12,Total,13919,1992,744,423,1281,2175,5023,438,1641,...,1811,5576,588,1159,3225,214,969,488,35757,244835
13,FSW,1029,2,0,1,1,83,42,0,0,...,0,283,0,25,685,0,0,0,4945,18353
14,Migrant,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,13,383
15,MSM,11,2,2,0,1,9,1,0,4,...,0,13,0,3,0,0,0,0,101,312
16,MSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Partner of HIV,13,0,13,3,12,6,15,0,0,...,4,47,5,3,8,0,0,3,69,434
18,Prisoner,0,0,0,0,28,0,20,0,39,...,84,12,32,55,39,8,54,0,289,2672
19,PWID,16,0,0,0,0,0,0,0,2,...,0,0,0,0,17,0,53,12,303,553
20,TG,1,0,0,0,0,18,0,0,0,...,0,0,0,0,0,0,0,0,14,51
21,TGSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
22,All KPs,1070,5,15,4,42,116,78,0,45,...,88,356,37,86,749,8,107,15,5735,22760
23,Total,5684,147,283,140,551,1348,3088,534,1124,...,1380,2503,381,500,2769,24,206,382,18196,179467
24,NaN,11585.0,1792.0,506.0,244.0,712.0,1141.0,2404.0,29.0,735.0,...,667.0,3459.0,316.0,791.0,2296.0,196.0,1736.0,115.0,31797.0,126076.0
25,NaN,19603.0,2139.0,1027.0,563.0,1832.0,3523.0,8111.0,972.0,2765.0,...,3191.0,8079.0,969.0,1659.0,5994.0,238.0,1175.0,870.0,53953.0,424302.0
26,FSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Migrant,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,20
28,MSM,45,5,10,2,3,4,16,0,4,...,3,22,0,9,3,5,1,3,317,1239
29,MSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,4,43
30,Partner of HIV,2,0,0,2,0,0,6,0,0,...,1,1,0,0,1,0,0,0,6,82
31,Prisoner,9,2,1,0,0,1,4,0,0,...,3,0,1,0,2,0,10,0,16,137
32,PWID,0,0,0,0,0,1,3,0,0,...,1,0,0,1,0,1,10,0,22,54
33,TG,0,0,1,0,0,0,2,0,0,...,0,3,0,0,0,0,0,0,35,93
34,TGSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,21
35,ALL KPs,57,7,12,4,3,6,31,1,4,...,8,26,1,10,7,6,21,3,404,1689
36,Total,87,18,24,28,7,12,43,4,15,...,17,56,5,18,16,11,14,11,702,3573
37,FSW,1,0,0,0,0,3,0,0,0,...,0,0,0,0,4,0,0,0,10,59
38,Migrant,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,8
39,MSM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
40,MSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Partner of HIV,2,0,0,0,0,0,2,0,0,...,3,2,0,0,1,0,0,0,10,80
42,Prisoner,0,0,0,0,0,0,1,0,0,...,3,0,0,0,0,0,0,0,11,37
43,PWID,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,7,9
44,TG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
45,TGSW,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,ALL KPs,3,1,0,0,0,3,3,0,0,...,6,3,0,0,6,0,0,0,38,202
47,Total,26,9,6,4,4,5,22,2,11,...,14,18,2,5,11,0,2,1,162,1326
48,NaN,60.0,8.0,12.0,4.0,3.0,9.0,34.0,1.0,4.0,...,14.0,29.0,1.0,10.0,13.0,6.0,21.0,3.0,442.0,1891.0
49,NaN,113.0,27.0,30.0,32.0,11.0,17.0,65.0,6.0,26.0,...,31.0,74.0,7.0,23.0,27.0,11.0,16.0,12.0,864.0,4899.0